$def with (resp)


<html>
<head>
<link rel="stylesheet" href="/static/basic.css" type="text/css" media="screen" charset="utf-8"/>
<script type="text/javascript" src="/static/jquery.js"></script>
</script>
    
</head>

<body>


<!--
<div id="go"><a href="/dolabel">开始翻译</a></div>
<div id="go"><a href="/browse">查看结果</a></div>
<div id="go"><a href="/labelone">翻译指定句子</a></div>
-->

<h1><a href="/dolabel">开始翻译</a></h1>
<h1><a href="/browse">查看结果</a></h1>
<!--<h1><a href="/labelone">翻译指定句子</a></h1> -->


</body>
